QT_AUTOBRIEF        = YES
JAVADOC_AUTOBRIEF   = YES
EXTRACT_ALL         = YES
FILE_PATTERNS       = *.c *.cpp *.h *.hpp q*.doc
RECURSIVE           = YES
ALPHABETICAL_INDEX  = YES
COLS_IN_ALPHA_INDEX = 3
MACRO_EXPANSION     = YES
GENERATE_TREEVIEW   = YES
OUTPUT_DIRECTORY    = derived/doxygen
HTML_OUTPUT         = .
EXCLUDE_PATTERNS    = */derived/*
